.App {
  margin: auto;
  padding: 0px 15px;
  background-color: #BBE1C3;
  
}

h1{
  text-align: center;
  margin: 30px auto;
}

.heading {
  font-size: 22px;
  align-items: center;
}
.container{
  display: flex;
  flex-wrap: wrap;

  
  
}
.product-section{
  padding: 50px;
}

.card {
  margin: 15px auto;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 300px;
  border-radius: 5px;
  
  
  
}

.filter{
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.card .id {
  background-color: #91785d;
  font-size: 12px;
  color: #FFFFFF;
  border-radius: 5px;
  margin: 10px 0px;
  padding: 5px;
  display: flex;
}

.card .name {
  font-size: 22px;
  font-weight: 400;
  margin: 20px 0px;
}

.card .info {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .instock {
  background-color: #06a02d;
  font-size: 16px;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 5px;
  display: inline;
}

.card .unavailable {
  background-color: #a00620;
  font-size: 16px;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 5px;
  display: inline;
}

button {
  border: 0px;
  border-radius: 5px;
  background-color: #0c68a1;
  color: #FFFFFF;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
}

button.onlyStock {
  background-color: #0ca14f;
}

button.all {
  background-color: #065ba0;
}
.logo{
  font-size: 50px;
  background-color: #BBE1C3;
 
  list-style:none;
  border-color: #BBE1C3;
}

#upper{
  background-color: #BBE1C3;
  
}
#lang{
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    padding: 1.25rem 1.25rem;
    height: 2.25rem;
    border-radius: 4px;
    margin: 0.5rem;
    border: 1px solid #91785d;
    box-sizing: border-box;
    background: hsla(0,0%,100%,0%);
    white-space: nowrap;
    font-weight: bold;
    color: #91785d;
}
#nav-dropdown{
  padding: 1.25rem 1.25rem;
    height: 2.25rem;
    white-space: nowrap;
    font-weight: bold;
    color: #91785d;
}